[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"

[dev-packages]
MyUtils = {git = "https://github.com/patarapolw/MyUtils.git", editable = true}
pytest = "*"
pytest-readme = "*"
pypandoc = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.6"
